<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/index.js" ></script>
</head>
<body>
    <div id="container">
        <h1>TODO List</h1>
        <div id="new-message">
          <div class="row">
            <input id="pass" placeholder="Password" type="password"></input>
            <div>
                <input id="desc" placeholder="New item here..."></input>
                <button id="add">add</button>
        </div>
        <ul id="message-list"></ul>
</body>
</html>